body {
	display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
    
}

.form_button {
   width:200px; 
   height:30px;
   border: none;
   border-radius: 5px;
   color: #fff;
   background-color: #0071f0;
   outline: none;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 50px;
}